/*Background: #F2F1E8
Text: #131511
Inline Link: #968772
Inline Link (Hover): #967343
Navigation Background: #FFFFFF
Navigation Text: #2B2F26
Navigation Text (Hover): #CD5D67
Navigation Text (Active) #968772
Button Background: #968772
Button Background (Hover): #967343
Button Text: #F2F1E8
Button Text (Hover): #FFFFFF
Input Border Bottom: #968772
Input Border Bottom (Focus): #967343*/
/** {
  border: 1px solid red;
}*/

body {
  width: 1280px;
  margin: 0 auto;
  background-color: black;
}

.container {
  background-color: #F2F1E8;
  width: 1280px;
}

.nav-logo {
  height: 40px;
  margin-right: 450px;
  padding: 10px;
  background: #FFFFFF;
}

.nav-bar {
  position: fixed;
  width: 1280px;
  display: flex;
  justify-content: flex-start;
  padding-top: 7px;
  font-family: Roboto;
  font-size: 18px;
  text-transform: uppercase;
  background: #FFFFFF;
  box-shadow: 0 5px 8px rgba(0, 0, 0, 0.4);
}

.nav-bar a {
  padding: 10px;
  margin-top: 10px;
  color: #2B2F26;
  background: #FFFFFF;
}

.nav-bar a:hover {
  color: #CD5D67;
}

.nav-bar a:active {
  color: #968772;
}

.nav-bar a:visited {
  color: #968772;
}

.title {
  font-family: Merriweather;
  text-align: center;
  padding-top: 80px;
  font-size: 33px;
  font-weight: normal;
}

.top_section {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: 30px;
  margin-left: 200px;
  margin-right: 200px;
  margin-bottom: 24px;
  font-family: Merriweather;
  font-size: 20px;
}

.top_section img {
  width: 18%;
  height: 115px;
  margin-right: 31px;
  margin-bottom: 15px;
  float: left;
}

.top_section p {
  line-height: 1.8;
  margin-bottom: 30px;
}

.top_section a {
  color: #968772;
}

.top_section a:hover {
  color: #967343;
}

.top_section blockquote {
  border-left: 2px solid #968772;
  padding-left: 35px;
  padding-right: 30px;
  margin: 0;
}

.top_section blockquote, p {
  margin-top: 0;
  margin-bottom: 0;
}

.top_section h3 {
  font-weight: normal;
}

.mid_image {
  background-image: url(../images/background-3.jpg);
  width: 1280px;
  height: 320px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.mid_image p {
  color: #F2F1E8;
  text-align: center;
  padding: 120px;
  font-family: Merriweather;
  font-size: 72px;
}

#Facilities {
  margin-left: 200px;
  font-family: Merriweather;
  font-size: 24px;
}

.second_section {
  display: flex;
  margin-top: 30px;
  margin-left: 200px;
  margin-right: 200px;
  margin-bottom: 24px;
  font-family: Merriweather;
  font-size: 20px;
}

.second_section h3 {
  font-weight: normal;
}

.second_section p {
  line-height: 1.8;
}

figure {
  float: right;
  font-size: 12px;
  line-height: 1.7;
}

figcaption {
  margin-top: 10px;
}

#Monthly_Plans {
  margin-left: 200px;
  font-family: Merriweather;
  font-size: 24px;
  margin-bottom: 15px;
}

.last_section {
  margin-left: 200px;
  padding-bottom: 50px;
}

table {
  font-family: Merriweather;
  font-size: 20px;
  width: 700px;
  border: 1px solid #131511;
  border-collapse: collapse;
}

th {
  padding: 15px 10px 15px 10px;
  border: 1px solid #131511;
  font-weight: normal;
}

td {
  padding: 15px 10px 15px 10px;
  border: 1px solid #131511;
}

tr.odd {
  background-color: #F2EADC;
}

footer p {
  background-color: #2B2F26;
  margin: 0;
  padding-top: 42px;
  padding-bottom: 42px;
  padding-left: 25px;
  font-family: Merriweather;
  color: #F2F1E8;
}
