/*Background: #F2F1E8
Text: #131511
Inline Link: #968772
Inline Link (Hover): #967343
Navigation Background: #FFFFFF
Navigation Text: #2B2F26
Navigation Text (Hover): #CD5D67
Navigation Text (Active) #968772
Button Background: #968772
Button Background (Hover): #967343
Button Text: #F2F1E8
Button Text (Hover): #FFFFFF
Input Border Bottom: #968772
Input Border Bottom (Focus): #967343*/

/**{
  border: 1px solid red;
}*/

body {
  width: 1280px;
  margin: 0 auto;
  padding: 0;
  background: black;
}

.container {
  background-color: #F2F1E8;
}
.nav-logo {
  height: 40px;
  margin-right: 450px;
  padding: 10px;
  background: #FFFFFF;
}

.nav-bar {
  position: fixed;
  width: 1280px;
  display: flex;
  justify-content: flex-start;
  font-family: Roboto;
  font-size: 18px;
  text-transform: uppercase;
  background: #FFFFFF;
}

.nav-bar a {
  padding: 10px;
  margin-top: 10px;
  color: #2B2F26;
  background: #FFFFFF;
}

.nav-bar a:hover {
  color: #CD5D67;
}

.nav-bar a:active {
  color: #968772;
}

.nav-bar a:visited {
  color: #968772;
}

#title {
  text-align: center;
  padding-top: 100px;
  margin-top: 20px;
  font-family: Merriweather;
  font-size: 80px;
  font-weight: 400;
}

#subtitle {
  text-align: center;
  padding: 0;
  margin-top: 0;
  margin-bottom: 15px;
  font-family: Merriweather;
  font-size: 50px;
  font-weight: 300;
}

.content {
  display: flex;
  flex-direction: column;
}

.row1, .row2 {
  display: flex;
}

.row1 {
  height: 500px;
}

.row2 {
  flex-wrap: nowrap;
  justify-content: space-between;
}

h3 {
  background-color: #2B2F26;
  color: #F2F1E8;
  font-weight: 200;
  font-size: 20px;
  padding: 8px;
  margin-top: 220px;
}

#endless h3 {
  width: 180px;
  text-align: center;
  margin-top: 390px;
}
#sets h3 {
  width: 50px;
  text-align: center;
  margin-top: 390px;
}
#textures h3 {
  width: 80px;
  text-align: center;
  margin-top: 390px;
}
#tea_time h3 {
  width: 95px;
  text-align: center;
  margin-top: 200px;
}
#jars h3 {
  width: 170px;
  text-align: center;
  margin-top: 200px;
}
#wasabi h3 {
  width: 150px;
  text-align: center;
  margin-top: 200px;
}
#sippin h3 {
  width: 175px;
  text-align: center;
  margin-top: 200px;
}
.row1, .image {
  margin: 20px 10px 5px 10px;
}
.row2, .image {
  margin: 0 10px 5px 10px;
}

#endless {
  background-image: url("../images/product-1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 70%;
  height: 90%;
}

#sets {
  background-image: url("../images/product-2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 15%;
  height: 90%;
}

#textures {
  background-image: url("../images/product-3.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 15%;
  height: 90%;
}

#tea_time {
  background-image: url("../images/product-4.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 15%;
  height: 30%;
}

#jars {
  background-image: url("../images/product-5.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 15%;
  height: 30%;
}

#wasabi {
  background-image: url("../images/product-6.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 50%;
  height: 30%;
}

#sippin {
  background-image: url("../images/product-7.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 15%;
  height: 30%;
}

footer p {
  background-color: #2B2F26;
  padding-top: 42px;
  padding-bottom: 42px;
  padding-left: 25px;
  font-family: Merriweather;
  color: #F2F1E8;
}
