/*Background: #F2F1E8
Text: #131511
Inline Link: #968772
Inline Link (Hover): #967343
Navigation Background: #FFFFFF
Navigation Text: #2B2F26
Navigation Text (Hover): #CD5D67
Navigation Text (Active) #968772
Button Background: #968772
Button Background (Hover): #967343
Button Text: #F2F1E8
Button Text (Hover): #FFFFFF
Input Border Bottom: #968772
Input Border Bottom (Focus): #967343*/

*{
  border: 1px solid red;
}

body, * {
  margin: 0;
  padding: 0;
}

.nav-logo {
  height: 40px;
  margin-right: 500px;
  padding: 10px;
}

.nav-bar {
  display: flex;
  justify-content: flex-start;
  padding: 7px;
  font-family: Roboto;
  font-size: 18px;
  text-transform: uppercase;
}

.nav-bar a {
  padding: 10px;
  margin-top: 10px;
  color: #2B2F26;
}
