body {
  width: 1280px;
  min-height: 100%;
  margin: 70px auto;
  background: black;
}

.container {
  display: flex;
  justify-content: center;
  background-image: url(../images/background-2.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
  height: 600px;
}

.nav-logo {
  height: 40px;
  margin-right: 450px;
  padding: 10px;
  background: #FFFFFF;
}

.nav-bar {
  position: fixed;
  width: 1280px;
  display: flex;
  justify-content: flex-start;
  padding-top: 7px;
  font-family: Roboto;
  font-size: 18px;
  text-transform: uppercase;
  background: #FFFFFF;
  box-shadow: 0 5px 8px rgba(0, 0, 0, 0.4);
}

.nav-bar a {
  padding: 10px;
  margin-top: 10px;
  color: #2B2F26;
  background: #FFFFFF;
}

.nav-bar a:hover {
  color: #CD5D67;
}

.nav-bar a:active {
  color: #968772;
}

.nav-bar a:visited {
  color: #968772;
}

#box {
  background: #FFFFFF;
  width: 600px;
  height: 370px;
  margin-top: 110px;
  font-family: Merriweather;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#box h3 {
  text-align: center;
  font-size: 28px;
  font-weight: normal;
  padding-top: 0;
}

#box p {
  text-align: center;
  font-size: 19px;
  font-weight: bold;
  margin-top: 0;
}

form {
  text-align: center;
}

input {
  width: 85%;
  padding: 10px;
  margin-top: 15px;
  font-family: Roboto;
  font-size: 20px;
  border: none;
  border-bottom: 2px solid #968772;
}

button {
  width: 24%;
  padding: 15px;
  margin: 15px;
  background-color: #968772;
  color: #F2F1E8;
  font-family: Roboto;
  font-size: 20px;
}

button:hover {
  color: #FFFFFF;
  background-color: #967343;
}
